*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}

body{
    background-color: aqua;
}

a {
    text-decoration: none;
    color: white;
}

h1{
    color: violet;
}

.header{
    background-color : black;
    /*(color: rgb(0, 130, 22);*/
    text-align: right;
    padding: 10px;
}
