*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}

body{
    background-color: aqua;
}

a {
    text-decoration: none;
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    color: #020833;
}

table{
    /*background:rgb(47, 255, 134);*/
    background: #000000;
    color: white;
    padding: 20px;
}

.header{
    background-color : black;
    /*(color: rgb(0, 130, 22);*/
    text-align: right;
    padding: 10px;
}
