*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}
body{
    background: "80FF33";
}

.header{
    background-color : black;
    color: rgb(0, 170, 22);
    text-align: middle;
    padding: 1s0px;
}