*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}
body{
    background: "80FF33";
}
a{
    text-decoration: none;
    color: white;
}
table{
    /*background:rgb(47, 255, 134);*/
    background: #000000;
    color: white;
}

.header{
    background-color : black;
    color: rgb(0, 170, 22);
    text-align: right;
    padding: 1s0px;
}
div {
    border: 3px solid #4CAF50;
    padding: 5px;
  }
.clearfix {
    overflow: auto;
  }
  .imgfriend{
    float: left;
    text-align: left;
}
.imgferryride{
    float: left;
    text-align: left;
}
.imgyankeesstadiumpic{
    float: left;
    text-align: left;
}